!!!
%html
  %head
    %link{ type: "text/css", rel: "stylesheet", href: "css/main.css" }
    %meta{ charset: 'utf-8' }
    %script{ type: "text/javascript", src: "http://code.jquery.com/jquery-1.9.1.min.js"}
    %script{ type: "text/javascript", src: "js/kinetic-v4.3.0-beta2.js"}
    %script{ type: "text/javascript", src: "js/fixtures.js"}
    %script{ type: "text/javascript", src: "js/ticker.js"}
    %script{ type: "text/javascript", src: "js/multi-element-ticker.js"}
    %script{ type: "text/javascript", src: "js/multi-element-colored-ticker.js"}
    %script{ type: "text/javascript", src: "js/multi-element-ticker-using-image.js"}
  %body
    %h3 Simple plain string.
    .ticker-with-plain-text
      %canvas#ticker-with-plain-text{ width: '900', height: '40' }
      %p
        %button
          Start/Stop

    %hr

    %h3 Individual elements added using a list.
    .multi-element-ticker
      %canvas#multi-element-ticker{ width: '900', height: '40' }
      %p
        %button
          Start/Stop
    %hr

    %h3 Individual elements with image added using a list.
    .multi-element-colored-ticker
      %canvas#multi-element-colored-ticker{ width: '900', height: '40' }
      %p
        %button
          Start/Stop

    %hr

    %h3 Converting rendered block into image and changing image position dynamically.
    .multi-element-ticker-using-image
      %canvas#multi-element-ticker-using-image{ width: '900', height: '40' }
      %p
        %button
          Start/Stop
