!!!
%html
  %head
    %link{ type: "text/css", rel: "stylesheet", href: "css/main.css" }
    %meta{ charset: 'utf-8' }
    %script{ type: "text/javascript", src: "http://code.jquery.com/jquery-1.9.1.min.js"}
    %script{ type: "text/javascript", src: "js/kinetic-v4.3.0-beta2.js"}
    %script{ type: "text/javascript", src: "js/fixtures.js"}
    %script{ type: "text/javascript", src: "js/ticker.js"}
  %body
    .ticker-with-plain-text
      %canvas#ticker-with-plain-text{ width: '900', height: '40' }
      %p
        %button
          Start/Stop
